<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FigmaDocumentExporter.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FigmaDocumentExporter.WinForms.Properties.Settings>
            <setting name="TOKEN" serializeAs="String">
                <value>5134-3333cd9c-832b-46d2-a993-03f4e60ff5fd</value>
            </setting>
        </FigmaDocumentExporter.WinForms.Properties.Settings>
    </userSettings>
</configuration>